In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import missingno

In [9]:
path_csv = "../datasets/heart_disease.csv"

In [30]:
df = pd.read_csv(path_csv)
df.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [37]:
print("Shape: ",df.shape)
print("Column data types:\n",df.dtypes)
print("Missing values per column:\n", df.isnull().sum())

Shape:  (920, 16)
Column data types:
 id            int64
age           int64
sex          object
dataset      object
cp           object
trestbps    float64
chol        float64
fbs          object
restecg      object
thalch      float64
exang        object
oldpeak     float64
slope        object
ca          float64
thal         object
num           int64
dtype: object
Missing values per column:
 id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

In [41]:
col = [df['sex'],df['dataset'],df['cp'],df['fbs'],df['restecg'],df['exang'],df['slope'],df['thal']]
print(col)

[0        Male
1        Male
2        Male
3        Male
4      Female
        ...
915    Female
916      Male
917      Male
918      Male
919      Male
Name: sex, Length: 920, dtype: object, 0          Cleveland
1          Cleveland
2          Cleveland
3          Cleveland
4          Cleveland
           ...
915    VA Long Beach
916    VA Long Beach
917    VA Long Beach
918    VA Long Beach
919    VA Long Beach
Name: dataset, Length: 920, dtype: object, 0       typical angina
1         asymptomatic
2         asymptomatic
3          non-anginal
4      atypical angina
            ...
915       asymptomatic
916     typical angina
917       asymptomatic
918       asymptomatic
919    atypical angina
Name: cp, Length: 920, dtype: object, 0       True
1      False
2      False
3      False
4      False
       ...
915     True
916    False
917     True
918     True
919    False
Name: fbs, Length: 920, dtype: object, 0        lv hypertrophy
1        lv hypertrophy
2        lv hypertrophy
3                normal
4        lv hypertrophy
             ...
915    st-t abnormality
916    st-t abnormality
917    st-t abnormality
918      lv hypertrophy
919      lv hypertrophy
Name: restecg, Length: 920, dtype: object, 0      False
1       True
2       True
3      False
4      False
       ...
915    False
916      NaN
917    False
918      NaN
919     True
Name: exang, Length: 920, dtype: object, 0      downsloping
1             flat
2             flat
3      downsloping
4        upsloping
          ...
915            NaN
916            NaN
917            NaN
918            NaN
919            NaN
Name: slope, Length: 920, dtype: object, 0           fixed defect
1                 normal
2      reversable defect
3                 normal
4                 normal
             ...
915                  NaN
916                  NaN
917         fixed defect
918                  NaN
919                  NaN
Name: thal, Length: 920, dtype: object]